<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <style>
        /* Define your font-face */
        @font-face {
            font-family: 'CocogoosePro-Regular';
            src: url('https://res.cloudinary.com/mafija/raw/upload/v1695544145/fonts/CocogoosePro/CocogoosePro-Regular.woff2') format('woff2');
        }

        /* Apply the font-family to specific elements */
        body {
            font-family: 'CocogoosePro-Regular', sans-serif;
        }
    </style>
</head>
<body>
    <p>This endpoint does not exist or your api key is invalid.</p>
    <p>Example usage of endpoints: <a href="http://localhost:3000/dog/?key=YOURKEY">http://localhost:3000/dog/?key=YOURKEY</a></p>
    <p>Supported Endpoints:</p>
    <ul>
        <li>dog</li>
    </ul>
</body>
</html>
